NODE_ENV=development
PORT=8000

MONGODB_URI=

JWT_SECRET=
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

SUPERADMIN_FIRST_NAME=
SUPERADMIN_LAST_NAME=
SUPERADMIN_EMAIL=
SUPERADMIN_PHONE=
SUPERADMIN_PASSWORD=

ALLOWED_ORIGINS=

SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=1.0

SOCKET_PORT=8001
RUN_INLINE_WORKER=true

BREVO_API_KEY=
BREVO_FROM_EMAIL=
BREVO_FROM_NAME=

FRONTEND_URL=
